*.rs linguist-detectable=true
*.rs linguist-documentation=false
*.rs linguist-language=Rust

*.py linguist-detectable=true
*.py linguist-documentation=false
*.py linguist-language=Python

*.cr linguist-detectable=true
*.cr linguist-documentation=false
*.cr linguist-language=Crystal

*.toml linguist-detectable=true
*.toml linguist-documentation=false
*.toml linguist-language=TOML

*.go linguist-detectable=true
*.go linguist-documentation=false
*.go linguist-language=GO

*.mod linguist-detectable=true
*.mod linguist-documentation=false
*.mod linguist-language=GO
